$bg-color: #f8f9ff;
$black: #32394b;
$white: #ffffff;
$royal-blue: #7a8dfd;
$border: #dde2ff;
$input-border: #d1d8ff;
$gray: #bbbdd0;
$error: crimson;
$color-success: #0bc475;
$color-error: #e85f5f;
$color-warning: #f1c40f;
