@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("assets/css/colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.todo {
}

.todo__container,
.navbar__container {
  max-width: 76rem;
  margin: auto;
}

.todo__section {
  padding: 4.063rem 0rem;
}

.todo-logo {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.todo-logo__img {
}

.todo-logo__txt {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: var(--royal-blue);
}

.navbar-back__navbar {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-back {
  background: var(--white);
  border: 0.063rem solid var(--border);
}

.todo-top {
}

.todo-top__title {
}

.todo-top__btn-section {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 0rem;
}

.btn {
  border-radius: 0.313rem;
  padding: 0.625rem;
}

.btn:hover {
  cursor: pointer;
}

.create-btn__btn {
  background: var(--royal-blue);
  padding: 0.625rem 1.25rem;
  border: none;
  display: flex;
  gap: 0.313rem;
  align-items: center;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
}

.todo__board {
  display: flex;
  flex-wrap: wrap;
  gap: 2.125rem;
}

.todo-card {
  min-width: 23.875rem;
  background: var(--white);
  border: 0.063rem solid var(--border);
  border-radius: 0.313rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.todo-add-card {
}

.add-card__btn-section,
.edit-card__btn-section {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.938rem;
}

.todo-add__btn,
.todo-save__btn {
  border: 0.063rem solid var(--border);
  border-radius: 0.313rem;
  padding: 0.625rem 0.938rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  color: var(--black);
}

.todo-delete__btn {
}

.todo-card__input {
  min-width: 21.875rem;
  min-height: 5rem;
  background: var(--white);
  border: 0.188rem solid var(--input-border);
  border-radius: 0.313rem;
}

.todo-view__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--black);
  padding-bottom: 0.625rem;
}

.todo-view__title.task-complete {
  text-decoration-line: line-through;
  color: var(--lime-green);
}

.todo-view__create-time {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--gray);
  padding-bottom: 1.563rem;
}

.todo-view__btns {
  display: flex;
  align-items: center;
  gap: 1.563rem;
}

.todo-view__btns.incomplete-btns {
}

.todo-view__btns.complete-btns {
  justify-content: space-between;
}

.complete-btns .complete-msg {
  background: var(--royal-blue);
  color: var(--white);
  border-radius: 0.313rem;
  padding: 0.313rem 0.938rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.create-btn .btn:disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.error {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--error);
}
