@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f8f9ff;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
.container {
  max-width: 1216px;
  margin: auto;
}
.todo-section {
  padding: 65px 0px;
}
.todo-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.todo-logo .logo-txt {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #7a8dfd;
}
.navbar {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarBack {
  background: #ffffff;
  border: 1px solid #dde2ff;
}
.btn-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.btn {
  border-radius: 5px;
  padding: 10px;
}
.btn:hover {
  cursor: pointer;
}
.create-btn .btn {
  background: #7a8dfd;
  padding: 10px 20px;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.todo-board {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}
.todo-card {
  min-width: 382px;
  background: #ffffff;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  padding: 15px;
}
.add-card {
}
.todo-add-crud {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.todo-add-crud .add-task-btn {
  border: 1px solid #dde2ff;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #32394b;
}
.add-card .todo-input {
  min-width: 351px;
  min-height: 80px;
  background: #ffffff;
  border: 3px solid #d1d8ff;
  border-radius: 5px;
}
.todo-card .todo-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #32394b;
  padding-bottom: 10px;
}
.todo-card .todo-createTime {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #bbbdd0;
  padding-bottom: 25px;
}
.add-card {
}
.todo-crud-btn {
  display: flex;
  align-items: center;
  gap: 25px;
}
.todo-crud-btn > button {
  border: none;
}
.create-btn .btn:disabled {
  background: #7a8dfd;
  opacity: 0.6;
  cursor: no-drop;
}
.error {
  font-size: 14px;
  font-weight: 500;
  color: crimson;
}
